body{
    min-height: 100vh;
    width: 100%;
    background-color: ;
    background-image: url(https://cdnn21.img.ria.ru/images/07e4/0a/1b/1581795603_0:0:3058:1720_1920x0_80_0_0_b720ebd7fa68c850d0c79a6e2b1921f5.jpg);
   background-size: contain;
   background-size: cover;
   text-align: center;
  
}