body{
    min-height: 100vh;
    width: 100%;
    background-color: red;
    background-image: url( https://kartin.papik.pro/uploads/posts/2023-06/thumbs/1687629622_kartin-papik-pro-p-kartinki-poezdka-na-mashine-na-more-11.jpg);
    background-size: cover;
    text-align: right;
    
}