body{
    min-height: 100vh;
    width: 100%;
    background-color: ;
    background-image: url(https://img.freepik.com/premium-photo/satellite-launch-into-space-on-earth-background_273003-4606.jpg);
   background-size: contain;
   background-size: cover;
   text-align: center;
  
}