body{
    min-height: 100vh;
    width: 100%;
    background-color: ;
    background-image: url(https://images.prom.ua/3174351790_w600_h600_3174351790.jpg);
   background-size: contain;
   background-size: cover;
   text-align: center;
  
}