body{
    min-height: 100vh;
    width: 100%;
    background-color: ;
    background-image: url(https://thumb.tildacdn.com/tild3631-3531-4263-b934-653061636631/-/resize/842x/-/format/webp/37.png);
   background-size: contain;
   background-size: cover;
   text-align: center;
  
}